.cont {
  text-align: center;
  padding: 100px 0;
}

.name {
  font-size: 5em;
  color: rgb(70, 70, 70);
  animation: bounceIn 0.6s ease 0s 1 normal backwards running;
}

.trasta {
  width: 1em;
}

.logos {
  margin-top: 50px;
}

.logo {
  height: 4em;
  width: auto;
  margin: 20px;
  animation: bounceIn 0.6s ease 0s 1 normal backwards running;
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s cubic-bezier(.8, 1.8, .75, .75);
  cursor: pointer;
  animation-delay: 800ms;
}

.link {
  display: inline-block;
}

.logo:hover {
  transform: rotate(10deg) scale(1.1);
}

.icon {
  fill: rgb(95, 95, 95);
}

@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    opacity: 1;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}