* {
  margin: 0px;
  padding: 0px;

}

ul {
  margin-left: 1.7em;
  margin-bottom: 10px;
}

.cont {
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template-rows: auto 1fr;
  color: rgb(99, 99, 99);
}

.header {
  background-color: rgb(240, 240, 240);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(1000px, 95%);
  margin: 0 auto 50px;
}

.sub {
  margin: 40px 0px 10px;
  font-size: 2.5em;
  border-bottom: solid 3px rgb(193, 209, 212);
}

.subsub {
  font-size: 1.8em;
  margin: 15px 0px 7px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 20px;
  font-size: 3em;
  animation: bounceIn 0.6s ease 0s 1 normal backwards running;
}

.trasta {
  width: min(5em,50%);
  border-radius: 50%;
  margin-bottom: 10px;
}

.logos {
  margin: 0px;
  animation: none;
  transition: none;
}

.logo {
  height: 4em;
  width: auto;
  margin: 20px;
  /*
  animation: bounceIn 0.6s ease 0s 1 normal backwards running;
  transform: rotate(0deg) scale(1) translateZ(0);
  animation-delay: 800ms;
  */
  transition: all 0.4s cubic-bezier(.8, 1.8, .75, .75);
  cursor: pointer;
}

.bio {
  width: 100%;
  margin-left: 0px;
}

.link {
  display: inline-block;
}

.fa-external-link-alt {
  color: rgb(0, 174, 255);
}

.logo:hover {
  transform: rotate(10deg) scale(1.1);
}

.icon {
  fill: rgb(128, 128, 128);
}

@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }

  70% {
    opacity: 1;
    transform: scale(.895);
  }

  100% {
    opacity: 1;
    transform: scale(.995);
  }
}



